<div class="card" style="width: 1200px">
    <h3>Listado de clases</h3>
    <div class="card-header">
        <a class="btn btn-success" routerLink="/agregarclase">Nueva clase [+]</a>
    </div>
    <div class="card-body">

        <table datatable class="table table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <td>Clave de la clase</td>
                    <td style="width: 30%">Curso</td>
                    <td style="width: 35%">Instructor</td>
                    <td style="width: 20%">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of encabezadoClase">
                    <td>{{item.cursoClave}}</td>
                    <td>{{item.cursoNombre}}</td>
                    <td>{{item.instructor}}</td>
                    <td>
                        <a class="btn btn-primary">Edit</a> |
                        <a class="btn btn-danger">Delete</a> |
                    </td>

                </tr>
            </tbody>

        </table>

    </div>

</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Preview Invoice : <b></b></h4>
        <button type="button" class="btn-close" aria-label="Close"></button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger">Close</button>
    </div>
</ng-template>